md-input-container .md-errors-spacer {
    display:none;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #00897b;
}

.md-padding {
    padding: 0px 15px 8px 15px;
}

.md-padding-1 {
    padding: 0px 0px 8px 0px;
}

md-tabs md-ink-bar {
    color: #00897b;
    background: #00897b;
}

md-tabs .md-tab.md-active {
    color: #00897b;
}

md-list {
    padding: 0;
}

md-list-item.md-3-line {
   align-items:center;
}

.user-message {
    width:100%;
}

.theme-color {
    background:#00897b;
}

.height-100 {
    height:100%;
}

.message-time {
    font-size: 12px;
}

.message-list-item {
    cursor:pointer;
}

.message-details-container {
    width: 100%;
    position: absolute;
}

.message-details-top {
    background:#00897b;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    z-index: 99;
}

.message-details-mid {
    position: relative;
    padding-top: 56px;
    overflow: auto;
    width: 100%;
}

.message-detail-item {
    border-radius: 4px;
    margin: 15px 0;
}

.group-members {
    color: white;
    font-size:14px;
}

.face-image-position {
    margin-left:15px;
}

.uploaded-image {
    margin-top: 10px;
}

.align-right {
    text-align:right;
}

.align-left {
    text-align: left;
}

.message-content {
    font-size: 14px;
    padding-top: 12px;
    word-wrap:break-word;
    overflow:hidden;
    margin-bottom: 11px;
}
.back-button {
    border: 1px solid lightgray;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 23px;
    padding: 3px 7px;
    background: lightgray;
}

.back-button:hover {
    background:white;
}